<div class="tabs">
    
    <input id="home" type="radio" name="tabsMenu" checked>
    <input id="profile" type="radio" name="tabsMenu">
    <input id="likes" type="radio" name="tabsMenu">
    <input id="settings" type="radio" name="tabsMenu">
    <input id="notifications" type="radio" name="tabsMenu">

    <div class="buttons">
        <label for="home"><i class="fa-solid fa-house"></i></label>
        <label for="profile"><i class="fa-solid fa-user"></i></label>
        <label for="likes"><i class="fa-solid fa-heart"></i></label>
        <label for="settings"><i class="fa-solid fa-gear"></i></label>
        <label for="notifications"><i class="fa-solid fa-bell"></i></label>
   
        <div class="underline"></div>
    </div>
</div>
